<html>
   <%- include('../../../parts/head', {title:'Modificar miembros de una proteccion', styles:'<link rel="stylesheet" href="/styles/wiki.css">'}) %>
   <body>
      <%- include('../../../parts/navbar', {active: 'wiki'}) %>
      
      <%- include('../../../parts/wiki/wikiNav', { actives: ["protecciones", "protecciones-cmds", "protecciones-cmds-modificar-miembros"] }) %>

      <div class="content">
         <h1 class="col-md12 row-md1 xxfont-large font-while text-center pading-4">Modificar miembros de una proteccion</h1>
         <div class="col-md2"></div>
         <div class="col-md8">
            <h2 class="font-while">Añadir a una proteccion</h2>
            <p class="code"><b class="font-red">/p add</b> <b class="font-green">player</b></p>
            <p class="font-while">La palaba <b class="font-green">player</b> la tienes que remplazar por el nombre de la persona a la cual le quieres dar permisos de miembro en tu proteccion, estos permisos le permiten construir dentro de solamente la proteccion donde ejecutes el comando.</p>
            <div class="height-md1"></div>
            <h2 class="font-while">Añadir a todas las protecciones</h2>
            <p class="code"><b class="font-red">/p add</b> <b class="font-blue">-a</b> <b class="font-green">player</b></p>
            <p class="font-while">La palabra <b class="font-blue">-a</b> indica que se aplicara a todas las protecciones que tengas colocadas. La palaba <b class="font-green">player</b> la tienes que remplazar por el nombre de la persona a la cual le quieres dar permisos de miembro en todas tus protecciones, estos permisos le permiten construir dentro todas tus protecciones.</p>
            <div class="height-md1"></div>
            <h2 class="font-while">Remover de una proteccion</h2>
            <p class="code"><b class="font-red">/p remove</b> <b class="font-green">player</b></p>
            <p class="font-while">La palaba <b class="font-green">player</b> la tienes que remplazar por el nombre de la persona a la cual le quieres quitar permisos de miembro en tu proteccion, estos permisos le permiten construir dentro de solamente la proteccion donde ejecutes el comando.</p>
            <div class="height-md1"></div>
            <h2 class="font-while">Remover de todas las protecciones</h2>
            <p class="code"><b class="font-red">/p remove</b> <b class="font-blue">-a</b> <b class="font-green">player</b></p>
            <p class="font-while">La palabra <b class="font-blue">-a</b> indica que se aplicara a todas las protecciones que tengas colocadas. La palaba <b class="font-green">player</b> la tienes que remplazar por el nombre de la persona a la cual le quieres quitar permisos de miembro en todas tus protecciones, estos permisos le permiten construir dentro todas tus protecciones.</p>
         </div>
         
      </div>
      
      <%- include('../../../parts/footer') %>
      <script src="/js/main.js"></script>
      <script src="/js/wiki.js"></script>
   </body>
</html>