<html>
   <%- include('../../../parts/head', {title:'Bifrost Network', styles:'<link rel="stylesheet" href="/styles/wiki.css">'}) %>
   <body>
      <%- include('../../../parts/navbar', {active: 'wiki'}) %>
      
      <%- include('../../../parts/wiki/wikiNav', { actives: ["items", "items-legendarios", "PolvoraMidgardiana"] }) %>

      <div class="content">
         <div class="col-md12 height-md1"></div>
         <h1 id="item" class="col-md8 row-md1 xxfont-large font-while text-center pading-4">Polvora Midgardiana</h1>
         <img src="/img/wiki/items/PolvoraMidgardiana/item.png" class="col-md3 row-md5 img-content" alt="">
         <div class="col-md8 row-md4 font-medium">
            <p class="font-while">
               <b>Nombre:</b> Polvora Midgardiana<br><br>
               <b>Categoria:</b> Legendario<br><br>
               <b>Lore:</b><br><img src="/img/wiki/items/PolvoraMidgardiana/lore.png" class="img-content width-75 lore" alt="lore.png">
            </p>
         </div>
         <div class="height-md1 col-md12"></div>
         <div class="col-md6">
            <h2 class="font-while font-large text-center">Funciones del item</h2>
            <ul class="font-while font-medium pading-2">
               <li>Dado  su alto poder y rareza nuestros Alquimistas aún no descubren cómo utilizarlo bien pero están muy cerca de hacerlo.</li><br>
            </ul>
         </div>
         <div class="col-md6">
            <h2 class="font-while font-large text-center">Formas de conseguirlo</h2>
            <ul class="font-while font-medium pading-2">
               <li>Matando a <a href="/wiki/mobs/KamikazeDelBifrost" class="font-fff font-bold">Kamikaze Del Bifrost</a></li>
            </ul>
         </div>
      </div>
      
      <%- include('../../../parts/footer') %>
      <script src="/js/main.js"></script>
      <script src="/js/wiki.js"></script>
   </body>
</html>