<div class="footer">
   <div class="footer__bifrost">

   </div>
   <ul class="footer__help">
      <li><a href="/help/terms">Terminos y condiciones</a></li>
      <li><a href="/help/reglas">Reglas de convivencia</a></li>
   </ul>
   <ul class="footer__social">
      <li><a href="https://twitter.com/Bifrost_Network" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://twitter.com/Bifrost_Network" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://twitter.com/Bifrost_Network" target="_blank"><i class="fab fa-twitter"></i></a></li>
   </ul>
</div>