<div class="background">
   <img src="img/background.png" alt="" loading="lazy">
   <p id="online-count">0 jugadores ahora mismo!</p>
   <h1 onclick="copyIp()" id="ip">mc.bifrostnetwork.es</h1>
</div>