<head>
   <title><%= title %></title>
   <meta name="author" content="Bifrost Team">
   <meta name="description" content="Unete a bifrost network y juega en una multitud de modalidades de juego!">
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/5189537aec.js" crossorigin="anonymous"></script>
   <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
   <link rel="stylesheet" href="/styles/main.css">
   <%- styles %>
</head>