<nav id="menu">
   <ul>
      <li <% if(active=='inicio'){ %> class="active" <% } %>  ><a href="/">Inicio</a></li>
      <li <% if(active=='tienda'){ %> class="active" <% } %>  ><a href="https://bifrostnetwork.tebex.io/" target="_blank">Tienda</a></li>
      <li <% if(active=='staff'){ %> class="active" <% } %>  ><a href="/staff">Staff</a></li>
      <li <% if(active=='wiki'){ %> class="active" <% } %>  ><a href="/">Wiki</a></li>
   </ul>
</nav>