<button onclick="toggleIndice()" id="dropNav"><i class="fas fa-bars"></i></button>

<div class="wikinav">
   <a href="/" id="bifrost"><img src="/img/background.png" alt="background.png"></a>
   <button class="dropdown-btn <% if(actives.includes('protecciones')){ %> active-nav <% } %>">Protecciones<i class="fa fa-caret-left"></i></button>
   <div class="dropdown-container <% if(actives.includes('protecciones')){ %> active-cont <% } %>">
      <button class="dropdown-btn <% if(actives.includes('protecciones-piedras')){ %> active-nav <% } %>">Piedras<i class="fa fa-caret-left"></i></button>
      <div class="dropdown-container <% if(actives.includes('protecciones-piedras')){ %> active-cont <% } %>">
         <a href="#">Chunkito (9x9)</a>
         <a href="#">Chunk (17x17)</a>
         <a href="#">Chunker (25x25)</a>
         <a href="#">SpawnChunks (33x33)</a>
      </div>
      <button class="dropdown-btn <% if(actives.includes('protecciones-cmds')){ %> active-nav <% } %>">Comandos<i class="fa fa-caret-left"></i></button>
      <div class="dropdown-container <% if(actives.includes('protecciones-cmds')){ %> active-cont <% } %>">
         <a href="/wiki/protecciones/cmds-añadirUser" class="<% if(actives.includes('protecciones-cmds-adduser')){ %> active-item <% } %>">Añadir a un usuario</a>
         <a href="/wiki/protecciones/cmds-removerUser" class="<% if(actives.includes('protecciones-cmds-remvuser')){ %> active-item <% } %>">Remover a un usuario</a>
         <a href="/wiki/protecciones/cmds-añadirOwner" class="<% if(actives.includes('protecciones-cmds-addowner')){ %> active-item <% } %>">Añadir a un dueño</a>
         <a href="/wiki/protecciones/cmds-removerOwner" class="<% if(actives.includes('protecciones-cmds-remvuser')){ %> active-item <% } %>">Remover a un dueño</a>
      </div>
   </div>
   <button class="dropdown-btn <% if(actives.includes('mobs')){ %> active-nav <% } %>">Mobs<i class="fa fa-caret-left"></i></button>
   <div class="dropdown-container <% if(actives.includes('mobs')){ %> active-cont <% } %>">
      <a href="#">Cuero Antiguo</a>
      <a href="#">El imortal</a>
      <a href="#">El dios del fuego</a>
   </div>
   <button class="dropdown-btn <% if(actives.includes('items')){ %> active-nav <% } %>">Items<i class="fa fa-caret-left"></i></button>
   <div class="dropdown-container <% if(actives.includes('items')){ %> active-cont <% } %>">
      <button class="dropdown-btn <% if(actives.includes('items-comunes')){ %> active-nav <% } %>">Comunes<i class="fa fa-caret-left"></i></button>
      <div class="dropdown-container <% if(actives.includes('items-comunes')){ %> active-cont <% } %>">
      </div>
      <button class="dropdown-btn <% if(actives.includes('items-raros')){ %> active-nav <% } %>">Raros<i class="fa fa-caret-left"></i></button>
      <div class="dropdown-container <% if(actives.includes('items-raros')){ %> active-cont <% } %>">
      </div>
      <button class="dropdown-btn <% if(actives.includes('items-epicos')){ %> active-nav <% } %>">Epicos<i class="fa fa-caret-left"></i></button>
      <div class="dropdown-container <% if(actives.includes('items-epicos')){ %> active-cont <% } %>">
      </div>
      <button class="dropdown-btn <% if(actives.includes('items-legendarios')){ %> active-nav <% } %>">Legendarios<i class="fa fa-caret-left"></i></button>
      <div class="dropdown-container <% if(actives.includes('items-legendarios')){ %> active-cont <% } %>">
      </div>
   </div>
   <button class="dropdown-btn <% if(actives.includes('crafteos')){ %> active-nav <% } %>">Crafteos<i class="fa fa-caret-left"></i></button>
   <div class="dropdown-container <% if(actives.includes('crafteos')){ %> active-cont <% } %>">
      <a href="#">Vaca Lola</a>
      <a href="#">El imortal</a>
      <a href="#">El dios del fuego</a>
   </div>
   <button class="dropdown-btn <% if(actives.includes('otros')){ %> active-nav <% } %>">otros<i class="fa fa-caret-left"></i></button>
   <div class="dropdown-container <% if(actives.includes('otros')){ %> active-cont <% } %>">
      <a href="#">Vaca Lola</a>
      <a href="#">El imortal</a>
      <a href="#">El dios del fuego</a>
   </div>
 </div>