<html>
   <%- include('../../../parts/head', {title:'Astronaut In The Ocean', styles:'<link rel="stylesheet" href="/styles/wiki.css">'}) %>
   <body>
      <%- include('../../../parts/navbar', {active: 'wiki'}) %>
      
      <%- include('../../../parts/wiki/wikiNav', { actives: ["mobs", "AstronautInTheOcean"] }) %>

      <div class="content">
         <h1 class="col-md8 row-md1 xxfont-large font-while text-center pading-4">Astronaut In The Ocean</h1>
         <img src="/img/wiki/mobs/AstronautInTheOcean/AstronautInTheOcean.png" class="col-md3 row-md6 img-content" alt="">
         <div class="col-md8 row-md4 font-medium">
            <ul class="font-while grid">
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Nombre:</b>
                  <p class="col-md11">Astronaut In The Ocean</p>
               </li>
               <div class="col-md12 height-md1"></div>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Lore:</b>
                  <p class="col-md9 text-justify">Esta entidad fue encontrada hace 3000 años en el borde del mundo de Asgard para encontrarse con la sorpresa de que se trataba de un habitante de Muspelheim. En estos momentos está buscando a Scooby doo en busca de venganza.</p>
               </li>
               <div class="col-md12 height-md1"></div>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Fuerza:</b>
                  <p class="col-md11">19.0 puntos</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Vida:</b>
                  <p class="col-md11">60.0 puntos</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Vista del mob:</b>
                  <p class="col-md11">30 bloques</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Equipación:</b>
                  <p class="col-md11">Espada de diamante</p>
               </li>
            </ul>
         </div>
         <div class="height-md1 col-md12"></div>
         <div class="col-md6 grid row-md1">
            <p class="font-while font-large text-center col-md12 font-bold">Dropeos</p>
            <div class="col-md1 height-md1"></div>
            <ul class="font-while font-medium pading-2 col-md11">
               <li class="grid">
                  <b class="col-md12">Items:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>De 0 a 1 <a href="/wiki/items/epico-hidro-miel" class="font-gold font-bold">Hidro miel</a> con el 6% de probabilidad.</li><br>
                     <li>De 0 a 1 Espada de Diamante con el 5% de probabilidad.</li><br>
                     <li>De 1 a 2 Caparazón de nautilus con el 30% de probabilidad.</li><br>
                     <li>De 1 Corazón de mar con el 5% de probabilidad.</li><br>
                     <li>De 1 a 2 Algas con el 10% de probabilidad.</li><br>
                     <li>De 1 a 3 Lingotes de hierro con el 10% de probabilidad.</li><br>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Monedas:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>De 12 a 15 <a href="/wiki/coins/silver" class="font-gray font-bold">silvers</a></li>
                     <li>0 de <a href="/wiki/coins/gold" class="font-gold font-bold">gold</a></li>
                     <li>De 10 a 100 puntos de experiencia</li>
                  </ul>
               </li>
            </ul>
         </div>
         <div class="col-md6 grid">
            <div class="col-md1 height-md1"></div>
            <h2 class="font-while font-large text-center col-md11">Zonas de aparicion</h2>
            <div class="col-md1 height-md1"></div>
            <ul class="font-while font-medium pading-2 col-md11">
               <li class="grid">
                  <b class="col-md12">Biomas:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Cold Ocean</li>
                     <li>Deep Frozen Ocean</li>
                     <li>Deep Lukewarm Ocean</li>
                     <li>Deep Ocean</li>
                     <li>Frozen River</li>
                     <li>River</li>
                     <li>Mushroom Fields</li>
                     <li>Plains</li>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Dimensiones</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Overworld</li>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Condiciones</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Altura superior a 50.</li><br>
                     <li>Cielo despejado, sin ningun bloque por arriba.</li><br>
                     <li>Cualquier nivel de luz.</li>
                  </ul>
               </li>
            </ul>
         </div>
         
      </div>
      
      <%- include('../../../parts/footer') %>
      <script src="/js/main.js"></script>
      <script src="/js/wiki.js"></script>
   </body>
</html>