<html>
   <%- include('../../../parts/head', {title:'Verdugo Nordico', styles:'<link rel="stylesheet" href="/styles/wiki.css">'}) %>
   <body>
      <%- include('../../../parts/navbar', {active: 'wiki'}) %>
      
      <%- include('../../../parts/wiki/wikiNav', { actives: ["mobs", "VerdugoNordico"] }) %>

      <div class="content">
         <h1 class="col-md8 row-md1 xxfont-large font-while text-center pading-4">Verdugo Nordico</h1>
         <img src="/img/wiki/mobs/VerdugoNordico/VerdugoNordico.png" class="col-md3 row-md6 img-content" alt="">
         <div class="col-md8 row-md4 font-medium">
            <ul class="font-while grid">
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Nombre:</b>
                  <p class="col-md11">Verdugo Nordico</p>
               </li>
               <div class="col-md12 height-md1"></div>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Lore:</b>
                  <p class="col-md9 text-justify">En un Pasado los Verdugos N칩rdicos se encargaban de decidir quien iba al Valhalla o no, Pero despues de tanto tiempo  realizando esta tarea los consumi칩 la locura y ahora son m치quinas de matar.</p>
               </li>
               <div class="col-md12 height-md1"></div>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Fuerza:</b>
                  <p class="col-md11">12.0 puntos</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Vida:</b>
                  <p class="col-md11">40.0 puntos</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Vista del mob:</b>
                  <p class="col-md11">40 bloques</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Equipaci칩n:</b>
                  <p class="col-md11">Casco de diamante</p>
                  <p class="col-md11">Peto de hierro</p>
                  <p class="col-md11">Pantalones de hierro</p>
                  <p class="col-md11">Botas de oro</p>
                  <p class="col-md11">Hacha de netherite</p>
                  <p class="col-md11">Escudo</p>
               </li>
            </ul>
         </div>
         <div class="height-md1 col-md12"></div>
         <div class="col-md6 grid row-md1">
            <p class="font-while font-large text-center col-md12 font-bold">Dropeos</p>
            <div class="col-md1 height-md1"></div>
            <ul class="font-while font-medium pading-2 col-md11">
               <li class="grid">
                  <b class="col-md12">Items:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>De 1 a 2 <a href="/wiki/items/raro-flor-de-los-avernos" class="font-gray font-bold">Flor De Los Avernos</a> con el 12.5% de probabilidad.</li><br>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Monedas:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>De 10 a 15 <a href="/wiki/coins/silver" class="font-gray font-bold">silvers</a></li>
                     <li>0 de <a href="/wiki/coins/gold" class="font-gold font-bold">gold</a></li>
                     <li>De 10 a 20 puntos de experiencia</li>
                  </ul>
               </li>
            </ul>
         </div>
         <div class="col-md6 grid">
            <div class="col-md1 height-md1"></div>
            <h2 class="font-while font-large text-center col-md11">Zonas de aparicion</h2>
            <div class="col-md1 height-md1"></div>
            <ul class="font-while font-medium pading-2 col-md11">
               <li class="grid">
                  <b class="col-md12">Biomas:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Mountains</li>
                     <li>Snowy beach</li>
                     <li>Snowy beach</li>
                     <li>Snowy mountains</li>
                     <li>Snowy taiga</li>
                     <li>Snowy taiga hills</li>
                     <li>Snowy taiga mountains</li>
                     <li>Snowy tundra</li>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Dimensiones</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Overworld</li>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Condiciones</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Tiene que ser de noche.</li><br>
                     <li>Tiene que estar sin ningun bloque por encima.</li>
                  </ul>
               </li>
            </ul>
         </div>
         
      </div>
      
      <%- include('../../../parts/footer') %>
      <script src="/js/main.js"></script>
      <script src="/js/wiki.js"></script>
   </body>
</html>