<html>
   <%- include('../../../parts/head', {title:'Vikingo Antiguo', styles:'<link rel="stylesheet" href="/styles/wiki.css">'}) %>
   <body>
      <%- include('../../../parts/navbar', {active: 'wiki'}) %>
      
      <%- include('../../../parts/wiki/wikiNav', { actives: ["mobs", "VikingoAntiguo"] }) %>

      <div class="content">
         <h1 class="col-md8 row-md1 xxfont-large font-while text-center pading-4">Vikingo Antiguo</h1>
         <img src="/img/wiki/mobs/VikingoAntiguo/VikingoAntiguo.png" class="col-md3 row-md6 img-content" alt="">
         <div class="col-md8 row-md4 font-medium">
            <ul class="font-while grid">
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Nombre:</b>
                  <p class="col-md11">Vikingo Antiguo</p>
               </li>
               <div class="col-md12 height-md1"></div>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Lore:</b>
                  <p class="col-md9 text-justify">Este Habitante de Midgard Fue transportado hasta nuestro mundo y no anda de muy buen animo asi que ten cuidado cuando te topes con el.</p>
               </li>
               <div class="col-md12 height-md1"></div>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Fuerza:</b>
                  <p class="col-md11">5.0 puntos</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Vida:</b>
                  <p class="col-md11">30.0 puntos</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Vista del mob:</b>
                  <p class="col-md11">40 bloques</p>
               </li>
               <div class="col-md1 height-md1"></div>
               <li class="grid col-md11">
                  <b class="col-md11">Equipación:</b>
                  <p class="col-md11">Peto de hierro</p>
                  <p class="col-md11">Pantalones de hierro</p>
                  <p class="col-md11">Botas de hierro</p>
                  <p class="col-md11"><a href="/wiki/items/raro-hacha-de-vikingo-antiguo" class="font-gray font-bold">Hacha De Vikingo Antiguo</a></p>
               </li>
            </ul>
         </div>
         <div class="height-md1 col-md12"></div>
         <div class="col-md6 grid row-md1">
            <p class="font-while font-large text-center col-md12 font-bold">Dropeos</p>
            <div class="col-md1 height-md1"></div>
            <ul class="font-while font-medium pading-2 col-md11">
               <li class="grid">
                  <b class="col-md12">Items:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>De 1 a 2 <a href="/wiki/items/comun-patata-de-los-alfafolk" class="font-gray font-bold">Patata De Los Álfafólk</a> con el 12.5% de probabilidad.</li><br>
                     <li>De 0 a 1 <a href="/wiki/items/raro-hacha-de-vikingo-antiguo" class="font-gray font-bold">Hacha De Vikingo Antiguo</a> con el 10% de probabilidad.</li>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Monedas:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>De 10 a 15 <a href="/wiki/coins/silver" class="font-gray font-bold">silvers</a></li>
                     <li>0 de <a href="/wiki/coins/gold" class="font-gold font-bold">gold</a></li>
                     <li>De 10 a 20 puntos de experiencia</li>
                  </ul>
               </li>
            </ul>
         </div>
         <div class="col-md6 grid">
            <div class="col-md1 height-md1"></div>
            <h2 class="font-while font-large text-center col-md11">Zonas de aparicion</h2>
            <div class="col-md1 height-md1"></div>
            <ul class="font-while font-medium pading-2 col-md11">
               <li class="grid">
                  <b class="col-md12">Biomas:</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Mountains</li>
                     <li>Snowy beach</li>
                     <li>Snowy beach</li>
                     <li>Snowy mountains</li>
                     <li>Snowy taiga</li>
                     <li>Snowy taiga hills</li>
                     <li>Snowy taiga mountains</li>
                     <li>Snowy tundra</li>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Dimensiones</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Overworld</li>
                  </ul>
               </li>
               <div class="col-md12 height-md1"></div>
               <li class="grid">
                  <b class="col-md12">Condiciones</b>
                  <div class="col-md1 height-md1"></div>
                  <ul class="col-md9">
                     <li>Tiene que ser de noche.</li><br>
                     <li>Tiene que estar sin ningun bloque por encima.</li>
                  </ul>
               </li>
            </ul>
         </div>
         
      </div>
      
      <%- include('../../../parts/footer') %>
      <script src="/js/main.js"></script>
      <script src="/js/wiki.js"></script>
   </body>
</html>