<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Wait - Obs</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="styles/obs.css">

</head>
<body>
   <div class="cosito">
      <img class="bifrost-icon" src="img/bifrost-icon.png" alt="">
      <div id="countdown"></div>
   </div>


   <div id="explotion" class="hidden">
      <img id="imgFinal" src="img/Logo-obs.png" alt="">
      <video id="video" src="videos/trailer-comprimido.mp4"></video>
   </div>
   <audio id="alarma" src="audios/alarma.mp3"></audio>
   <script src="js/counter.min.js"></script>
   <script src="js/obs.js"></script>
</body>
</html>