<html>
   <%- include('../parts/head', {title:'Bifrost | Staff', styles:'<link rel="stylesheet" href="styles/staff.css">'}) %>
   <body>
      <%- include('../parts/header') %>
      <%- include('../parts/navbar', {active}) %>
      <div id="maxgatiks" class="staff">
         <img src="img/staff/maxgatiks/background.png" alt="" class="staff__background" loading="lazy">
         <img src="img/staff/maxgatiks/img.png" alt="" class="staff__img" loading="lazy">
         <img src="img/staff/maxgatiks/img1.png" alt="" class="staff__img1" loading="lazy">
         <img src="img/staff/maxgatiks/img2.png" alt="" class="staff__img2" loading="lazy">
         <div class="staff__info">
            <h1 class="staff__info_name">Maximiliano</h1>
            <p class="staff__info_job">Creador</p>
            <p class="staff__info_description">
               Es un estudiante universitario que tiene como pasatiempo hacer streams para dar y recibir alegría por estos.
            </p>
            <ul class="staff__info_social">
               <li><a href="https://twitter.com/max_gatiks" target="_blanck"><i class="fab fa-twitter"></i></a></li>
               <li><a href="https://www.instagram.com/max_gatiks" target="_blanck"><i class="fab fa-instagram"></i></a></li>
               <li><a href="https://www.twitch.tv/max_gatiks" target="_blanck"><i class="fab fa-twitch"></i></a></li>
            </ul>
         </div>
      </div>
      <div id="sint" class="staff">
         <img src="img/staff/sint/background.png" alt="" class="staff__background" loading="lazy">
         <img src="img/staff/sint/img.png" alt="" class="staff__img" loading="lazy">
         <div class="staff__info">
            <h1 class="staff__info_name">Sintcraft</h1>
            <p class="staff__info_job">Programador y Administrador</p>
            <p class="staff__info_description">
               Sint es un programador de la web, con una gran pasión por el desarrollo de software.
            </p>
            <ul class="staff__info_social">
               <li><a href="https://www.twitch.tv/sintcraft" target="_blanck"><i class="fab fa-twitch"></i></a></li>
               <li><a href="https://twitter.com/sintcraft1" target="_blanck"><i class="fab fa-twitter"></i></a></li>
               <li><a href="http://sintcraft.xyz/" target="_blanck"><i class="fas fa-globe"></i></a></li>
            </ul>
         </div>
      </div>
      <div id="onick" class="staff">
         <img src="img/staff/onick/background.png" alt="" class="staff__background" loading="lazy">
         <img src="img/staff/onick/img.png" alt="" class="staff__img" loading="lazy">
         <img src="img/staff/onick/img1.png" alt="" class="staff__img1" loading="lazy">
         <div class="staff__info">
            <h1 class="staff__info_name">OnickRS</h1>
            <p class="staff__info_job">Administradora y Constructora</p>
            <p class="staff__info_description">
               Me considero una persona bastante creativa y me gusta jugar mientras hablo con mis amigos e interactuar con mi comunidad de discord.
            </p>
            <ul class="staff__info_social">
               <li><a href="https://twitter.com/Onickrs" target="_blanck"><i class="fab fa-twitter"></i></a></li>
               <li><a href="https://www.twitch.tv/onickrs" target="_blanck"><i class="fab fa-twitch"></i></a></li>
               <li><a href="https://discord.gg/A538U2t5ju" target="_blanck"><i class="fab fa-discord"></i></a></li>
            </ul>
         </div>
      </div>
      <div id="kenshyn" class="staff">
         <img src="img/staff/kenshyn/background.png" alt="" class="staff__background" loading="lazy">
         <img src="img/staff/kenshyn/img.png" alt="" class="staff__img" loading="lazy">
         <div class="staff__info">
            <h1 class="staff__info_name">Kenshyn</h1>
            <p class="staff__info_job">Administrador</p>
            <p class="staff__info_description">
               Es el asistente de todo el staff el cual no es especialista en ninguna rama pero ayuda en lo que puede.
            </p>
            <ul class="staff__info_social">
               <li><a href="https://www.instagram.com/kenshyn_x" target="_blanck"><i class="fab fa-instagram"></i></a></li>
               <li><a href="https://twitter.com/Kenshyn_X" target="_blanck"><i class="fab fa-twitter"></i></a></li>
               <li><a href="https://www.twitch.tv/kenshyn__" target="_blanck"><i class="fab fa-twitch"></i></a></li>
            </ul>
         </div>
      </div>
      <div id="nexiar" class="staff">
         <img src="img/staff/nexiar/background.png" alt="" class="staff__background" loading="lazy">
         <img src="img/staff/nexiar/img.png" alt="" class="staff__img" loading="lazy">
         <div class="staff__info">
            <h1 class="staff__info_name">Nexiar</h1>
            <p class="staff__info_job">Administradora y Constructora</p>
            <p class="staff__info_description">
               Aqui va testo.
            </p>
            <ul class="staff__info_social">
               <li><a href="https://www.instagram.com/zoecoustau/" target="_blanck"><i class="fab fa-instagram"></i></a></li>
               <li><a href="https://twitter.com/Nexiar3" target="_blanck"><i class="fab fa-twitter"></i></a></li>
               <li><a href="https://www.twitch.tv/nexiarr" target="_blanck"><i class="fab fa-twitch"></i></a></li>
            </ul>
         </div>
      </div>
      <div id="unbending" class="staff">
         <img src="img/staff/unbending/background.png" alt="" class="staff__background" loading="lazy">
         <img src="img/staff/unbending/img.png" alt="" class="staff__img" loading="lazy">
         <div class="staff__info">
            <h1 class="staff__info_name">Unbending</h1>
            <p class="staff__info_job">Constructor</p>
            <p class="staff__info_description">
               Una lagartija bastante amigable que le encanta jugar a videojuegos y dibujar, es estudiante de universidad pero se especializa en ayudar a los demas.
            </p>
            <ul class="staff__info_social">
               <li><a href="https://www.twitch.tv/unbending" target="_blanck"><i class="fab fa-twitch"></i></a></li>
               <li><a href="https://discord.gg/xD8NwSYSK3" target="_blanck"><i class="fab fa-discord"></i></a></li>
               <li><a href="https://twitter.com/Unbendingyt" target="_blanck"><i class="fab fa-youtube"></i></a></li>
            </ul>
         </div>
      </div>
      
      <%- include('../parts/footer') %>
      <script src="js/main.js"></script>
      <script src="js/staff.js"></script>
   </body>
</html>