<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
   <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
   <link rel="stylesheet" href="styles/wait.css">
   <title>Bifrost</title>
   <script src="https://kit.fontawesome.com/5189537aec.js" crossorigin="anonymous"></script>
</head>
<body>
   <video id="video" src="videos/bifrostPageTriler.mp4" muted autoplay controls></video>
   <img src="img/background.png" alt="" id="background" class="hiden">
   <div id="border" class="hiden"></div>
   <div id="text" class="hiden">
      <h1>Bifrost Network</h1>
      <div id="countdown">
      </div>
      <div id="author">De <p id="maxgatiks">Max Gatiks</p></div>
      <i class="fas fa-volume-mute" id="music" onclick="togleMusic()"></i>
      <audio src="audios/acensor.mp3" id="audio" loop></audio>
   </div>
   <script src="js/counter.min.js"></script>
   <script src="js/wait.js"></script>
</body>
</html>