<html>
   <%- include('../parts/head', {title:'Bifrost Network', styles:'<link rel="stylesheet" href="styles/wiki.css">'}) %>
   <body>
      <%- include('../parts/navbar', {active: 'wiki'}) %>
      
      <%- include('../parts/wiki/wikiNav', { actives: ["mobs", "items", "crafteos"] }) %>

      <div class="content">
         <img src="/img/wiki/wiki_title.png" class="col-md12 row-md8 height-md10 img-cover"></img>
      </div>
      
      <%- include('../parts/footer') %>
      <script src="js/main.js"></script>
      <script src="js/wiki.js"></script>
   </body>
</html>