.footer {
   width: 75%;
   position: relative;
   left: 25%;
}
#menu {
   position: fixed;
   width: 75vw;
   left: 25vw;
   z-index: 50;
}

.wikinav {
   width: 25%;
   display: flex;
   flex-direction: column;
   background: #e8f5ff;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 90vh;
   animation: dropdownAnimation 1s;
   margin: 0;
   position: fixed;
   padding-bottom: 10vh;
   z-index: 100;
}

.wikinav i {
   padding-left: 2%;
}

#bifrost {
   width: 100%;
   height: 10vh;
}
#bifrost > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.dropdown-container > .dropdown-container {
   margin: 0;
}

.dropdown-container > * {
   display: block;
   width: 100%;
   border: none;
   font-size: 1.2vw;
   margin: 0;
   text-decoration: none;
   background: #e8f5ff;
   color: #333;
   transition: .2s;
}

.dropdown-container > a:hover {
   color: #000;
   padding-left: 1em;
   font-size: 1.3vw;
}

.dropdown-btn {
   width: 100%;
   height: 6vh;
   border: none;
   background-color: #0067b6;
   font-size: 1.4vw;
   color: #fff;
   text-align: left;
   transition: .2s;
   padding-left: 1vw;
   cursor: pointer;
}
.dropdown-btn:hover {
   background-color: #0378d1;
}

.dropdown-container > * {
   padding-left: 8px;
   position: relative;
}

.dropdown-container > .dropdown-btn {
   border-bottom: #0067b6 solid 4px;
   background: #e8f5ff;
   color: #333;
   font-weight: bold;
   padding-left: 0;
}
.dropdown-container {
   display: none;
   height: auto;
   margin: 1vh 0;
   animation: dropdownAnimation .4s;
   z-index: 0;
}

@keyframes dropdownAnimation {
   0% {
      transform: translateX(-100%);
   }
   100% {
      transform: translateX(0%);
   }
}

.active-nav {
   background: #0089f1;
}
.active-cont {
   display: block;
}

.active-item {
   color: #000;
   padding-left: .8em;
   font-size: 1.3vw;
}

.active-nav > i {
   transform: rotate(-90deg) translateX(-25%) translateY(50%);
   animation: activeNavI .4s;
}
@keyframes activeNavI {
   0% {
      transform: rotate(0) translateX(0) translateY(0);
   }
   100% {
      transform: rotate(-90deg) translateX(-25%) translateY(50%);
   }
}

#dropNav {
   display: none;
}

.hidden-nav {
   animation: hideNav 1s;
   transform: translateX(-100%);
   display: block;
}

@keyframes hideNav {
   0% {
      transform: translateX(0%);
      opacity: 1;
   }
   100% {
      transform: translateX(-100%);
      opacity: 0;
   }
}

.content {
   width: 75%;
   position: relative;
   left: 25%;
   top: 5vh;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   margin-bottom: 10vh;
}



.col-md1 {
   grid-column: auto / span 1;
}
.col-md2 {
   grid-column: auto / span 2;
}
.col-md3 {
   grid-column: auto / span 3;
}
.col-md4 {
   grid-column: auto / span 4;
}
.col-md5 {
   grid-column: auto / span 5;
}
.col-md6 {
   grid-column: auto / span 6;
}
.col-md7 {
   grid-column: auto / span 7;
}
.col-md8 {
   grid-column: auto / span 8;
}
.col-md9 {
   grid-column: auto / span 9;
}
.col-md10 {
   grid-column: auto / span 10;
}
.col-md11 {
   grid-column: auto / span 11;
}
.col-md12 {
   grid-column: auto / span 12;
}

.row-md1 {
   grid-row: auto / span 1;
}
.row-md2 {
   grid-row: auto / span 2;
}
.row-md3 {
   grid-row: auto / span 3;
}
.row-md4 {
   grid-row: auto / span 4;
}
.row-md5 {
   grid-row: auto / span 5;
}
.row-md6 {
   grid-row: auto / span 6;
}
.row-md7 {
   grid-row: auto / span 7;
}
.row-md8 {
   grid-row: auto / span 8;
}
.row-md9 {
   grid-row: auto / span 9;
}
.row-md10 {
   grid-row: auto / span 10;
}
.height-md1 {
   height: 8vh;
}
.height-md2 {
   height: 16vh;
}
.height-md3 {
   height: 24vh;
}
.height-md4 {
   height: 32vh;
}


img {
   width: 100%;
   height: auto;
   display: block;
}
.img-cover {
   object-fit: cover;
}
.img-content {
   object-fit: contain;
}
.width-100 {
   width: 100%;
}
.width-75 {
   width: 75%;
}
.width-50 {
   width: 50%;
}
.width-33 {
   width: 33%;
}
.width-25 {
   width: 25%;
}

.text-center {
   text-align: center;
}

.text-justify {
   text-align: justify;
}

p {
   padding: 0 15px;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
}
b {
   color: #fff;
}

.font-small {
   font-size: 1.2em;
}
.font-medium {
   font-size: 1.4em;
}
.font-large {
   font-size: 1.6em;
}
.font-xlarge {
   font-size: 1.8em;
}
.font-xxlarge {
   font-size: 2em;
}

.font-fff {
   color: #fff;
}
.font-while {
   color: #ddd;
}
.font-black {
   color: #000;
}
.font-gray {
   color: #888;
}
.font-gold {
   color: #ffd700;
}
.font-red {
   color: #f66;
}
.font-blue {
   color: #66f;
}
.font-green {
   color: #3c3;
}

.font-bold {
   font-weight: bold;
}

.grid-col1 {
   grid-column: 1;
}
.grid-col2 {
   grid-column: 2;
}
.grid-col3 {
   grid-column: 3;
}
.grid-col4 {
   grid-column: 4;
}
.grid-col5 {
   grid-column: 5;
}
.grid-col6 {
   grid-column: 6;
}
.grid-col7 {
   grid-column: 7;
}
.grid-col8 {
   grid-column: 8;
}
.grid-col9 {
   grid-column: 9;
}
.grid-col10 {
   grid-column: 10;
}
.grid-col11 {
   grid-column: 11;
}
.grid-col12 {
   grid-column: 12;
}

.grid-row1 {
   grid-row: 1;
}
.grid-row2 {
   grid-row: 2;
}
.grid-row3 {
   grid-row: 3;
}
.grid-row4 {
   grid-row: 4;
}
.grid-row5 {
   grid-row: 5;
}
.grid-row6 {
   grid-row: 6;
}
.grid-row7 {
   grid-row: 7;
}
.grid-row8 {
   grid-row: 8;
}
.grid-row9 {
   grid-row: 9;
}
.grid-row10 {
   grid-row: 10;
}
.grid-row11 {
   grid-row: 11;
}
.grid-row12 {
   grid-row: 12;
}
.grid-row13 {
   grid-row: 13;
}
.grid-row14 {
   grid-row: 14;
}
.grid-row15 {
   grid-row: 15;
}
.grid-row16 {
   grid-row: 16;
}
.grid-row17 {
   grid-row: 17;
}
.grid-row18 {
   grid-row: 18;
}
.grid-row19 {
   grid-row: 19;
}
.grid-row20 {
   grid-row: 20;
}
.grid-row21 {
   grid-row: 21;
}
.grid-row22 {
   grid-row: 22;
}
.grid-row23 {
   grid-row: 23;
}
.grid-row24 {
   grid-row: 24;
}

.pading-2 {
   padding: 2vh;
}
.pading-4 {
   padding: 4vh;
}

.grid {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
}

.code {
   background: #444;
   padding: 1em;
   color: #fff;
   border-radius: 10px;
   width: 100%;
}


@media only screen and (max-width: 1024px) {
   .content {
      width: 100%;
      left: 0;
   }
   .wikinav {
      width: 100vw;
      position: fixed;
      top: 0;
      z-index: 100;
   }
   .footer {
      left: 0;
   }
   .dropdown-btn {
      font-size: 2.3vh;
   }
   .dropdown-container > * {
      font-size: 2.2vh;
   }
   .dropdown-container > a:hover {
      font-size: 2.3vh;
      padding: 3vw;
   }
   #menu {
      left: 0;
   }
   #dropNav {
      display: block;
      font-size: 9vh;
      border: none;
      padding: 1vh;
      position: fixed;
      top: 10vh;
      color: #fff;
      background: #333;
      right: 0;
      z-index: 150;
   }
   .lore {
      width: 100%;
   }
}